.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* image du fond d'écran de la page à propos  */
.aboutContainer img {
    object-fit: cover;
    border-radius: 25px;
}

.collapses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}