.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collapses{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collapse {
    background-color: #FF6060;
    border-radius: 10px;
    width: 600px;
    border: solid;
}

.textHidden{
    visibility: hidden;
    position: absolute;
}

.textNotHidden{
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

