.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.imageTitle img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
}

/* image du fond d'écran de la page à propos  */
.aboutContainer img {
    object-fit: cover;
    border-radius: 25px;
}

.collapses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    width: 75%;
}