.Carousel {
    height: 300px;
    width: 100%;
}

.Carousel img {
    object-fit: cover;
    position: absolute;
    max-width: 1600px;
    width: 97%;
    height: 300px;
    border-radius: 15px;
}

.visible {
    opacity: 1;
}

.notVisible {
    opacity: 0;
}

.nextChevron {
    font-size: 100px;
    position: absolute;
    top: 200px;
    left: 90%;
    color: #FFFFFF;
}

.previousChevron{
    font-size: 100px;
    position: absolute;
    top: 200px;
    left: 50px;
    color: #FFFFFF;
}