main {
    padding-left: 15px;
}

/* Pour séparer les éléments collapses en flex  */
.collapsesMain {
    display: flex;
    flex-direction: row;
}

/* Pour séparer les éléments collapses en flex  */
.collapses {
    width: 50%;
    padding-right: 15px;
}

/* Continent le titre et les informations de l'hôte */
.mainContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

/* contient le titre et le sous-titre (localisation) */
.titleContainer {
    padding-top: 0px;
    margin-top: 0px;
    color: #FF6060;
}

/* Les tags utilisés pour retrouver l'appartement  */
.tagsContainer {
    display: flex;
}

.tagsContainer p {
    background-color: #FF6060;
    color: #F6F6F6;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    border-radius: 15px;
    margin-right: 15px;
}

/* Les informations de l'Hôte  */
.hostContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hostInformation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    color: #FF6060;
}

.hostInformation>p {
    padding-right: 10px;
}

.hostContainer img {
    border-radius: 50%;
}

.stars {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.starSolid {
    color: #FF6060;
    font-size: 18px;
    padding-right: 0px;
    margin-right: 0px;
}

.starEmpty {
    color: #E3E3E3;
    font-size: 18px;
    padding-right: 0px;
    margin-right: 0px;
}

h2 {
    font-weight: normal;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2+p {
    padding-top: 0px;
    margin-top: 0px;
}


@media screen and (max-width: 768px) {

    /* Pour séparer les éléments collapses en flex  */
    .collapsesMain {
        display: flex;
        flex-direction: column;
    }

    /* Continent le titre et les informations de l'hôte */
    .mainContainer {
        display: flex;
        flex-direction: column;
        width: 97%;
    }

    /* Les informations de l'Hôte  */
    .hostContainer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .collapses {
        width: 97%;
    }

    h2 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    
    h2+p {
        font-size: 18px;
    }

    .hostContainer img {
        width: 50%;
    }

    .tagsContainer p {
        font-size: 10px;
        text-align: center;
    }
}