@font-face {
  font-family: 'Montserrat';
  src: url('./font/Montserrat-VariableFont_wght.ttf') format('truetype'),
    url('./font/Montserrat-Italic-VariableFont_wght.ttf') format('truetype'),
    url('./font/Montserrat-Regular.ttf') format('truetype'),
    url('./font/Montserrat-Bold.ttf') format('truetype');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid;
  max-width: 1600px;
  margin: 20px;
  font-family: 'Montserrat';
}