@font-face {
  font-family: 'Montserrat';
  src: url('./font/Montserrat-VariableFont_wght.ttf') format('truetype'),
    url('./font/Montserrat-Italic-VariableFont_wght.ttf') format('truetype'),
    url('./font/Montserrat-Regular.ttf') format('truetype'),
    url('./font/Montserrat-Bold.ttf') format('truetype');
}

html, body {
  margin: 0px;
  height: 100%;
}

.appJsBody{
  display: flex;
  flex-direction: column;
  /* font-family: 'Montserrat'; */
  justify-content: space-between;
  /* font-size: 24px; */

}

body {
  /* display: flex;
  flex-direction: column; */
  font-family: 'Montserrat';
  /* justify-content: space-between; */
  font-size: 24px; 
}